#nav-primary {
  padding-block: 20px;
  /*Nesting CSS*/
  div:nth-child(2) {
    margin-inline: auto;
  }
  div:nth-child(3) {
    justify-self: end;
  }
  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
#nav-secundary {
  padding-block: 14px;
  border: solid 1px var(--stroke-color);
  border-inline: none;
  gap: 80px;
}

.container-2 {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
  color: rgb(203, 199, 199);
  border: solid 1px var(--stroke-color);
  border-inline: none;
  border-bottom: none;
  padding-block: 18px;
}

.grid-2 {
  display: flex;
  margin-top: 24px;
}
