#featured {
  img {
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }
  .card {
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    &::before {
      content: "";
      position: absolute; /* Posiçao abosulta */
      inset: 0;
      top: 50%;
      background: linear-gradient(
        180deg,
        transparent 0%,
        #020617 100%
      ); /*Fundo Degrade*/
      /* overflow: hidden; Escondeu Tudo que passou */
    }
    figcaption {
      position: absolute;
      bottom: 0;
      padding: 24px;

      h2 {
        margin-top: 8px;
      }
    }
    /* span {
      background-color: var(--brand-color-dark);
      border-radius: 6px;
      font-size: 14px;
      
    } */
  }
}
